body {
    background-image: url("./station.jpg");
    background-size: cover;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin: 10px 0;
}

h2 {
    font-size: 50px;
    margin: 0 0 20px 0;
}

main {
    position: absolute;
    top: 30%;
    left: 45%;
}